<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body id="body">
  <h1 class="header">My Posts</h1>

  <h3 class="header">Add Post</h3>

  <form action="{{ url_for('newPost') }}" method="POST">
    Title: <input id="titleInput" type="text" name = "title"/>
    Author: <input id="authorInput" type="text" name="author"/>
    Post: <input id="bodyInput" type="text" name = "body"/>
    Id: <input id="idInput" type="text" name="id"/>
    <input type="submit" value="Submit">
  </form>

  <h2>Posts:</h2>
  <ul id="post-list">
  	
  </ul>
  <script id="post-template" type="text/post-template">
   <li>
   <span class="hidden-id"></span>
   <h3 class="title"></h3>
   <h4 class="author"></h4>
   <p class="body"></p>
   Likes:<bold class="likes"></bold>
   <button class="like-button"><span class="hidden-id"></span>Like</button>
   </li>
   <hr>
  </script>


  <script
  	  src="https://code.jquery.com/jquery-3.1.1.js"
  	  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  	  crossorigin="anonymous"></script>

<script src="/static/scripts/script.js"></script>
</body>
