<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body id="body">
  <h1 class="header">My Books</h1>

  <form action="{{ url_for('newBook') }}" method="POST" onsubmit="return validateForm()">
    Name: <input id="nameInput" type="text" name = "name"/><br>
    Author: <input id="authorInput" type="text" name="author"/><br>
    Year Published: <input id="yearpublishedInput" type="text" name="yearPublished"/><br>
    Pages: <input id="pagesInput" type="text" name = "pages"/><br>
    <input type="submit" value="Submit">
    <br>
  </form>

  <a id="books-list" href="/books">My Books</a>

  <br>
  <br>
  <input id="backgroundColor">
<button id="changeColor">Change Background Color</button>

<script src="/static/scripts/home.js"></script>
</body>
