body {
    margin: 0;
}

.navbar {
  background-color: red;
  height: 60px;
  display: flex;
  justify-content: center;
}

.blackbar {
  background-color: black;
  width: 90%;
  height: 20px;
}

.content {
  height: 400px;
  width: 60%;
  background-color: blue;
  display: flex;
  justify-content: center;
  padding-left:0;
  padding-top: 15px;
  margin-left: 20%;
}

.yellow-square {
  background: yellow;
  margin-left: 15px;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.footer {
  background: green;
  height: 60px;
}
