<html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
</head>

<body>
<h1 class="header">My friends</h1>

    <form action = '{{ url_for('newFriend') }}' method='POST'>
      <h3>add a friend</h3>
      <p>name <input type="text" name = "name"></p>
      <p>age <input type="text" name = "age"></p>
      <input type="submit" value="submit">
      <br>
    </form>

<a id="friends-list" href="/friends">friends</a>
</body>
</html>
