<html>
  <body>
    <form action = '{{ url_for('addrecord') }}' method='POST'>
      <h3>Creating a new post</h3>
      <p>Title</p>
      <input type="test" name = "title">
      <br>
      <p>Post</p>
      <textarea  name="post"></textarea>
      <br>
      <input type="submit" value="submit">
      <br>
    </form>
  </body>
</html>
